.header {
  height: 48px;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  font-size: 12px;
  color: #4285f4;
  box-shadow: 0 1px 10px 0 rgba(66, 133, 244, 0.2);
  background-color: #fff;
  position: relative;
  z-index: 89;
  i {
    font-size: 11px;
  }
  .intro {
    color: #666;
    position: absolute;
    left: 47%;
  }
}
.main {
  flex: 1;
  overflow: auto;
  background-color: #f5f5f5;
  .school {
    height: 100%;

    .school_list {
      margin-top: 7px;
      background-color: #fff;
      height: 73px;
      padding: 15px;
      .left {
        width: 320px;
        height: 100%;
        float: left;
        .item_top {
          height: 36px;
          img {
            width: 73px;
            height: 100%;
            float: left;
          }
          .description {
            float: left;
            margin-left: 12px;
            h3 {
              font-weight: 300;
              font-size: 16px;
            }
            p {
              font-size: 11px;
              color: #999999;
            }
          }
        }
        .item_bottom {
          width: 320px;
          height: 39px;
          display: flex;
          align-items: center;
          p {
            width: 91px;
            font-size: 11px;
            color: #999999;
          }
        }
      }
      .right {
        width: 25px;
        float: right;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 20px;
          color: #4285f4;
        }
      }
    }
    .school_list_loading {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      color: #969799;
      flex-wrap: wrap;
    }
  }
  .container_menu {
    display: flex;
    flex-direction: column;


    .menu_filter {
      flex: 1;
      overflow: auto;
      .btn {
        height: 80px;
        padding-top: 15px;
        box-sizing: border-box;
        padding-left: 12px;
        position: relative;

        .btn_item {
          width: 90px;
          padding: 0 14px;
          height: 25px;
          border-radius: 28px;
          float: left;
          background-color: #f5f5f5;
          text-align: center;
          line-height: 28px;
          margin-right: 12px;
          font-size: 11px;
          color: #bababb;
          margin-bottom: 8px;
          box-sizing: border-box;
          line-height: 25px;
          text-align: center;
          display: flex;
          justify-content: center;
          overflow: hidden;
          span {
            pointer-events: none;
            position: absolute;
            white-space: nowrap;
            display: inline-block;
          }
        }
        .right {
          color: #fff;
          background-color: #4285f4;
        }
      }
      .ranking {
        box-sizing: border-box;
        padding-left: 12px;
        .ranking_title {
          width: 100%;
          height: 40px;
          box-sizing: border-box;
          padding-top: 18px;
          line-height: 22px;
          font-size: 13px;
        }
        .input_price {
          box-sizing: border-box;
          padding-top: 8px;
          margin-bottom: 8px;
          input {
            outline: none;
            border: none;
            background-color: #f5f5f5;
            width: 84px;
            height: 30px;
            position: relative;
            vertical-align: middle;
            color: #4c4c4c;
            font-size: 14px;
          }
          span {
            display: inline-block;
            border: 1px solid #666;
            width: 8px;
            vertical-align: middle;
          }
        }
      }
    }
    .menu_filte_footer {
      .menu_filte_footer_btn {
        width: 50%;
        height: 42px;
      }
    }
  }
}
.group {
  .popup1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #fff;
  }
}
.shade {
  top: 46px;
  background-color: #fff;
  z-index: 88 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 18px 0px 18px;
  box-sizing: border-box;
  img {
    width: 120px;
    height: 60px;
  }
  h3 {
    font-size: 13px;
    color: #333;
  }
  p {
    color: #666;
    font-size: 12px;
    line-height: 23px;
  }
}
.btn_gather {
  // height: 100px;
  //   overflow: hidden;
  .btn_item {
    width: 84px;
    height: 34px;
    margin-bottom: 8px;
    text-align: center;
    line-height: 34px;
    border: 2px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    margin-right: 10px;
    color: #4c4c4c;
    font-size: 12px;
    position: relative;
    float: left;
    text-justify: newspaper;
    word-break: break-all;

    span {
      pointer-events: none;
      position: absolute;
      display: block;
      width: 100%;
      text-align: center;
      line-height: 34px;
      height: 100%;
    }
  }
  .btn_item_active::after {
    content: "";
    border: 10px solid #4285f4;
    border-color: transparent #4285f4 #4285f4 transparent;
    position: absolute;
    right: 0;
    top: 39%;
  }
  .btn_item_active::before {
    content: "";
    width: 7px;
    height: 3px;
    border: 1px solid #fff;
    border-color: transparent transparent #fff #fff;
    position: absolute;
    right: 2px;
    top: 68%;
    z-index: 3;
    transform: rotate(-35deg);
  }
}

.ccc {
  position: relative !important;
  .Scroll {
    // 在不知道中间的大小可一这样,设置中间的大小 
    position: absolute;
    top: 48px;
    bottom: 52.98px;
    left: 0;
    right : 0;
    overflow: hidden;
  }
//   .fs {
//   position: absolute !important;
//   bottom: 0;
//   left:0;
//   right : 0;
// }
}